<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/tweets<%= @article.id %>%' method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
    Content:
    <input type="text" name="content"><br>
    Create Your Tweet:

    <input type="submit" name="submit" id="submit">

    <input type="submit" name="submit">

  </form>