<h2>Account Sign Up!</h2>
<form method='post' action='/signup'>
<label for ='username'>New Username</label>
<input type = "text" id ='username' name='user[username]'>
<label for ='email'>Email</label>
<input type = "text" id ='email' name='user[email]'>
<label for ='username'>Password</label>
<input type = "text" id ='password' name='user[password]'>
<input type='submit' value='Create New Account'>
</form>